html{
  direction: rtl;
}
body{
  background-color: rgb(241, 241, 241) !important;
}

@font-face {
  font-family: 'badr';
  src: url('./asset/Far_Nazanin/Far_Nazanin.ttf');
}

*{
  font-family: 'badr';
}

